$roboto-font-path: 'vendors/materialize-src/fonts/roboto/' !default;
// Materialize indigo-darken-3
$primary-color: #1565c0 !default;
$primary-color-light: #1565c0 !default;
$primary-color-dark: #1565c0 !default;
// $secondary-color: #1565c0 !default;
// $success-color: #1565c0 !default;
// $error-color: #1565c0 !default;
// $link-color: #1565c0 !default;
$light-grey: #ebeff2;
